@import url('./base/base.css');
@import url('./theme/theme.css');
/* Reserved for future component styles */
@import url('./components/components.css');
@import url('./pages/home.css');
@import url('./pages/seasons.css');
@import url('./pages/races.css');
@import url('./pages/drivers.css');